.app {
    background-color: lightgrey;
    margin-left: 40%;
    width: fit-content;
    height: fit-content;
    padding: 1px;
}

.product-table {
    background-color:whitesmoke;
}

td {
    border-bottom-color: lightgrey;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

